@charset 'utf-8';

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bk);
    font-family: "Noto Serif JP", serif;
}

h1,
h2,
h3,
p,
a,
li {
    color: var(--text-gd);
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: clamp(2rem, 1.727rem + 1.45vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 1.364rem + 0.73vw, 2rem);
}

h3 {
    font-size: clamp(1.25rem, 1.182rem + 0.36vw, 1.5rem);
}

p,
a,
li {
    font-size: clamp(0.938rem, 0.919rem + 0.09vw, 1rem);
    font-weight: 500;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

dl {
    color: var(--text-gd);
}

small {
    color: var(--text-gd);
}

.btn {
    padding: 1rem;
    border: 1px solid var(--text-gd);
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba(206, 199, 157, 0.1);
        box-shadow: 0 0 10px rgba(206, 199, 157, 0.5),
            inset 0 0 10px rgba(206, 199, 157, 0.5);
        text-shadow: 0 0 5px rgba(206, 199, 157, 0.5);
    }
}