@charset 'utf-8';

/* 各種サービスアイコン */
.icon-list-sp {
    display: none;
}

@media screen and (max-width: 768px) {
    .icon-list-sp {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        bottom: 0;
        z-index: 80;
        width: 100%;
        height: 8vh;
        background-color: var(--wt-80);

        li {
            height: clamp(1.5rem, 0.188rem + 5.25vw, 2.813rem);
            aspect-ratio: 1;

            a {
                width: 100%;
                aspect-ratio: 1;
            }
        }
    }
}

/* ********************** */
/* フッター */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: minmax(300px, 1.3fr) minmax(300px, 1fr); */

    padding: clamp(2.5rem, 1.5rem + 4vw, 5rem) clamp(0.938rem, -0.438rem + 5.5vw, 4.375rem);
    gap: 5%;


    iframe {
        width: 100%;
        height: clamp(21.875rem, 20.625rem + 5vw, 25rem);
        /* height: clamp(18.75rem, 11.25rem + 30vw, 37.5rem); */
    }

    .shopinfo {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;

        /* margin: 0 clamp(3.125rem, 2.375rem + 3vw, 5rem); */
        .shopinfo-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto 1fr;
            gap: 3%;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        height: 100lvh;
        padding: clamp(2.5rem, 1.5rem + 4vw, 5rem) clamp(0.938rem, -0.438rem + 5.5vw, 4.375rem) 0;
        gap: 0;
    }
}

/* ********************** */
/* TOPボタン */
.top-btn {
    width: clamp(2.5rem, 2.33rem + 0.91vw, 3.125rem);
    aspect-ratio: 1;
    border-radius: 100px;
    background-color: var(--text-gd);
    position: fixed;
    top: 90%;
    left: 95%;

    span {
        display: block;

        &::before {
            content: "";
            width: clamp(1.25rem, 1.165rem + 0.45vw, 1.563rem);
            height: clamp(1.25rem, 1.165rem + 0.45vw, 1.563rem);
            border-top: solid 3px var(--main-bk);
            border-right: solid 3px var(--main-bk);
            transform: rotate(-45deg);
            position: absolute;
            top: 30%;
            left: 25%;
            bottom: 0;
            margin: auto;
        }

    }
}

@media screen and (max-width: 768px) {
    .top-btn {
        top: 85%;
        left: 85%;
    }
}

/* ********************** */